<!--TASK 1-->
<h1>Welcome to {{title}}-s Midterm Project -</h1>
<!--TASK 2-->
<div>-------TASK 2-------</div>
<div *ngFor="let user of users">
  <div *ngIf="user.age>20">
      {{user.firstName}},
      {{user.lastName}},
      {{user.age}}
  </div>
</div>
<!--TASK 3 and 4-->
<app-user [parentUser]="Users" (userArray)="recieveUsers($event)"></app-user>
<!--TASK 6-->
<div *ngFor="let childUser of childUser">
  {{childUser.Id}}
  {{childUser.FirstName}}
  {{childUser.LastName}}
  {{childUser.PhoneNumber}}
  {{childUser.DateOfBirth}}
  {{childUser.Email}}
</div>
<!--TASK 5-->
<h2>Registration Form</h2>
 {{registrationForm.value | json}}
 <form [formGroup]="registrationForm">
  <div class="form-group" >
    <label>ID</label>
    <input formControlName="Id" type="number" class="form-control"
    [class.is-invalid]="registrationForm.get('Id')?.invalid &&
    registrationForm.get('Id')?.touched">

    <small [class.d-none]="registrationForm.get('Id')?.valid||registrationForm.get('Id')?.untouched" class="text-danger" >
      Please enter a valid Id
    </small>

    <div class="form-group" >
      <label>FirstName</label>
      <input type="text" formControlName="FirstName" class="form-control"
      [class.is-invalid]="registrationForm.get('FirstName')?.invalid &&
      registrationForm.get('FirstName')?.touched">

      <small [class.d-none]="registrationForm.get('FirstName')?.valid||registrationForm.get('FirstName')?.untouched" class="text-danger">
        Please enter a valid First Name
      </small>
    </div>

    <div class="form-group" >
      <label>LastName</label>
      <input type="text" formControlName="LastName" class="form-control"
      [class.is-invalid]="registrationForm.get('LastName')?.invalid &&
      registrationForm.get('LastName')?.touched">

      <small [class.d-none]="registrationForm.get('LastName')?.valid||registrationForm.get('LastName')?.untouched" class="text-danger">
        Please enter a valid Last Name
      </small>
    </div>

    <div class="form-group" >
      <label>Date of Birth</label>
      <input formControlName="DateOfBirth" type="date" class="form-control"
      [class.is-invalid]="registrationForm.get('DateOfBirth')?.invalid &&
      registrationForm.get('DateOfBirth')?.touched">
  
      <small [class.d-none]="registrationForm.get('DateOfBirth')?.valid||registrationForm.get('DateOfBirth')?.untouched" class="text-danger" >
        Please enter a valid Date
      </small>
    </div>

    <div class="form-group" >
      <label>Phone number</label>
      <input formControlName="PhoneNumber" type="number" class="form-control"
      [class.is-invalid]="registrationForm.get('PhoneNumber')?.invalid &&
      registrationForm.get('PhoneNumber')?.touched">
  
      <small [class.d-none]="registrationForm.get('PhoneNumber')?.valid||registrationForm.get('PhoneNumber')?.untouched" class="text-danger" >
        Please enter a valid Phone Number
      </small>
    </div>

    <div class="form-group" >
      <label>Email</label>
      <input type="text" formControlName="Email" class="form-control"
      [class.is-invalid]="registrationForm.get('Email')?.invalid &&
      registrationForm.get('Email')?.touched">

      <small [class.d-none]="registrationForm.get('Email')?.valid||registrationForm.get('Email')?.untouched" class="text-danger">
        Please enter a valid Email
      </small>
    </div>

    <button class="btn btn-primary" >Register</button>
    
    <h3 class="mt-4">Users List:</h3>
    <div *ngFor="let user of user">
      {{user.Id}}
      {{user.FirstName}}
      {{user.LastName}}
      {{user.PhoneNumber}}
      {{user.DateOfBirth}}
      {{user.Email}}
   </div>

  </div>
 </form>